<div class="container">
    <h1 class="mt-5">Restaura la contraseña del usuario</h1>
    <form class="form_container mt-4" id="restartPasswordForm">
        <div class="mb-3">
            <label for="email" class="form-label">Ingrese su email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Correo electrónico" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Nueva contraseña</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Nueva contraseña"
                required>
        </div>
        <button type="submit" class="btn btn-primary">Restaurar contraseña</button>
    </form>
</div>

<script src="/js/restartPassword.js"></script>